.login{
    padding-top: 20%;
    padding-left: 40%;
    margin: 0px auto;
}
.login_head{
    padding-left: 20%;
    padding-top: 10%;
    font-size: 30px;
}
.login_button{
    padding-left: 10%;
    padding-top: 10%;
    font-size: 30px;

}