<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="frontcss.css" type="text/css" rel="stylesheet">
    <style type="text/css">
    </style>
</head>
<body background="1-启动页_MarkMan.png" width="300px" height="400px">
<p1><span>用户名：</span></p1>
<input type="text">
<br/>
<p2><span>密码：</span></p2>
<input type="password">
<br/>
男<input type="radio" name="sex">
女<input type="radio" name="sex">
<br/>
<input type="button" name="" value="登录"/>
<input type="button" name="" value="注册"/>

</body>
</html>
